<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DailyBasket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container1">
        <div class="title2">
            <img class="image1" src="{{ url_for('static', filename='logo1_transparent.png') }}" >
            <strong>DailyBasket.com</strong>
        </div>
        <br><br>
        <br><br>
        <a class="button1" href="/login"><strong>LOGIN</strong></a><br>
        <a class="button1" href="/register"><strong>REGISTER</strong></a>
    </div>
</body>
</html>